.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main{
    padding-top: 50px;
}

.square{
    background-color: blue;
    width: 100px;
    height: 100px;
}