.todo-list__from {
    display: flex;
}

.todo-list__input {
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 20px;
    box-sizing: content-box;
    width: 100%;
}

.todo-list__button {
    border-radius: 4px;
    height: 20px;
    outline: none;
    box-sizing: border-box;
    background-color: rga(0, 0, 0, 0.1);
    border: 1 px, solid rgba(0, 0, 0, 0.25);
    width: 100px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.todo-list_button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.todo-list__list-item {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}
.todo-list__list-item--completed {
    text-decoration: line-through;
}