.todo-list__from {
    display: flex;
}

.todo-list__input {
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 20px;
    box-sizing: content-box;
    width: 100%;
}

.todo-list__button {
    border-radius: 4px;
    height: 20px;
    outline: none;
    box-sizing: border-box;
    background-color: rga(0, 0, 0, 0.1);
    border: 1 px, solid rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.todo-list__button--delete{
    width: 20px;
    color: azure;
    background-color: brown;
}


.todo-list__button--delete:hover{
    background-color: #e74c3c;
}

.todo-list_button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.todo-list__list-item {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}

.todo-list__list-item-wrapper{
    display: flex;
    justify-content: space-between;
}


.todo-list__list-item--completed .todo-list__list-item-text-container {
    text-decoration: line-through;
}